body{
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.8;
	font-weight: normal;
	background: #fafafa;
	color: lighten(black,50%);
}
a {
	transition: .3s all ease;
	color: #1089ff;
	&:hover, &:focus {
		text-decoration: none !important;
		outline: none !important;
		box-shadow: none;
	}
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	font-weight: 400;
	font-family: 'Roboto', sans-serif;
	color: black;
}

.bg-primary{
	background: #1089ff !important;
}

.ftco-section{
	padding: 7em 0;
}

.ftco-no-pt{
	padding-top: 0;
}
.ftco-no-pb{
	padding-bottom: 0;
}

.heading-section{
	font-size: 28px;
	color: black;
}

.img{
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.table{
	min-width: 1000px !important;
	width: 100%;
  -webkit-box-shadow: 0px 5px 12px -12px rgba(0,0,0,0.29);
	-moz-box-shadow: 0px 5px 12px -12px rgba(0,0,0,0.29);
	box-shadow: 0px 5px 12px -12px rgba(0,0,0,0.29);
	thead{
		th{
			border: none;
			padding: 30px;
			font-size: 13px;
			color: black;
			font-weight: 400;
			text-transform: uppercase;
		}
		tr{
			background: white;
		}
	}
	tbody{
		tr{
			background: white;
		}
		th,td{
			border: none;
			padding: 20px 30px;
			font-size: 14px;
			vertical-align: middle;
		}
		td{
			.close{
				span{
					font-size: 12px;
					color: danger;
				}
			}
		}
	}
}


@font-face {
	font-family: 'Roboto', sans-serif;
	src: url();
}